@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
:root{
  --bg-blue: #283044;
  --bg-light-blue: #7A959F;
  --bg-white: #FFFFFF;
  --bg-utp:#ECF4F9;
  --text-color-blac:#000000;
  --font-primary:'Lato', sans-serif;
  --size-title:24px;
  --size-button-title:14px;
  --size-body:16px;
}
#root {
  height: 100vh;
  width: 100vw;
  max-width: 100vw;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  height: 100vh;
  background-color: #f0f4f8;
}
header {
  display: flex;
  justify-content: space-between;
  width: auto;
}

/*nav bar*/
.sidebar .menu-item {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar .menu-item svg,
.sidebar .menu-item i {
  font-size: 30px;
}

.sidebar {
  width: 100px;
  background-color: #000F37;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0;
}

.menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-item {
  width: 100%;
  padding: 15px 20px;
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.menu-item i.icon {
  margin-right: 10px;
}

.menu-item.active, .menu-item:hover {
  background-color: #F2F4F8;
  color: black;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-left {
  display: flex;
  align-items: center;
}

.notifications {
  position: relative;
}

.notifications .icon {
  font-size: 24px;
  cursor: pointer;
}

.notifications span {
  position: absolute;
  top: 0;
  right: -10px;
  background-color: red;
  color: #fff;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 12px;
}

.main-section {
  display: flex;
  flex: 1;
  padding: 20px;
  gap: 20px;
  background-color: #e6f0ff;
}

.chat-section, .new-message-section {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  flex: 1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.chat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.create-btn, .btn-general {
  background-color: #0661fc;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
}

.filter {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 4px;
  border: 1px solid #ddd;
}


/* modal salas */
body {
  font-family: 'Comic Sans MS', cursive, sans-serif;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.modal {
  display: block; /* Cambia a 'none' para ocultar el modal por defecto */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4); /* Fondo negro con opacidad */
}

.modal-content {
  background-color: #fff;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 300px;
  position: relative;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
  border-radius: 10px;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close-btn:hover,
.close-btn:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-content label,
.modal-content input[type="number"],
.modal-content .radio-group,
.modal-content button {
  display: block;
  width: 100%;
  margin-bottom: 15px;
  font-size: 16px;
}

.modal-content input[type="number"] {
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.2);
}

.modal-content .radio-group {
  display: flex;
  align-items: center;
}

.modal-content .radio-group input {
  margin-right: 10px;
}

.modal-content button {
  background-color: #0661fc;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.2);
}

.modal-content button:hover {
  background-color: #4081f1;
}



/* modal salas */



/*********************************************************************/
/*Teacher menu card*/

/* Estilos salas */

.row {
  display: flex;
  padding-top: 25px;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

.col {
  flex: 1 0 30%;
  box-sizing: border-box;
  padding: 0.5rem;
}

.room-carddd {
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.room-title {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.room-description {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.room-button {
  background-color: #0661fc;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 4px;
}

.room-button:hover {
  background-color: #062066;
}

/* MenuProfesor.css */

.container-menu-profesor {
  padding: 0px;
  font-family: Arial, sans-serif;
  width: 100vw;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
}

.header h2 {
  margin: 0;
}

.filter {
  display: flex;
}

.form-select {
  padding: 5px 10px;
  font-size: 16px;
}

.cardd-group-container {
  display: flex;
  justify-content: center;
}

.cardd-group {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
  margin-bottom: 40px;
}

.cardd {
  background: white;
  border-radius: 0px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: 0px;
  transition: transform 0.3s;
  min-width: 300px;
  max-width: 300px;
}

.cardd:hover {
  transform: scale(1.05);
}

.cardd-img-top {
  position: relative;
}

.cardd-img-top img {
  width: 100%;
  height: auto;
}


.cardd-body {
  padding: 20px;
}

.cardd-title {
  font-size: 1.2em;
  margin: 0;
}

.cardd-text {
  color: gray;
}

.tutor-info {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.tutor-info img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.text-muted {
  color: gray;
}

@media (max-width: 1200px) {
  .cardd {
    max-width: calc(50% - 20px);
  }
}

@media (max-width: 768px) {
  .cardd {
    max-width: 100%;
  }
}




/*********************************************************************/
/*main students*/
/*menu students*/

.container-menu-alumno{
    width: 100vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
  .container-menu-alumno h1{
    font-family: var(--font-primary);
    font-size: var(--size-title);
    color: var(--text-color-blac);
  }
  .container-menu-alumno .container-salas{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80vw;
    background: var(--bg-utp);
    margin: 0px auto;
  }
  .container-menu-alumno .container-salas-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
.container-menu-alumno .container-salas .target-sala{
  width: 25vw;
  height: 100px;
  display: flex;
  justify-content: space-evenly;
  background: var(--bg-white);
  border-radius: 10px;
  margin: 10px 0;
  padding: 0 20px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
  align-items: center;
}
.container-menu-alumno .container-salas .container-salas-row .target-sala .content-target{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: auto;
  gap: 15px;
}
.container-menu-alumno .container-salas .container-salas-row .target-sala .content-target h3,
.container-menu-alumno .container-salas .container-salas-row .target-sala .content-target p
{
  font-family: var(--font-primary);
  font-size: var(--size-title);
  color: var(--text-color-blac);
  align-items: center;
  margin: 0px;
  padding: 0px;
}
.container-menu-alumno .container-salas .container-salas-row .target-sala .content-target h3{
  font-weight: bold;
}
.container-menu-alumno .container-salas .container-salas-row .target-sala .button-sala{
  width: auto;
  height: 30px;
  background: var(--bg-blue);
  color: var(--bg-white);
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  font-family: var(--font-primary);
  font-size: var(--size-button-title);
  cursor: pointer;
}

/*menu task*/

.container-menu-sala{
  display: flex;
  flex-direction: row;
  width: 100vw;
  background: var(--bg-utp);
}
.container-menu-sala .container-backlog{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 65vw;
  margin: 20px ;
  
}
.container-menu-sala .container-chat{
  display: flex;
  flex-direction: column;

}

.cont-bot{
  text-align: right;
  margin:0px 30px 0px 0px;
}

.cont-bot button{
  background-color: #0661fc;
  height: 35px;
  
  color:#FFFFFF;
}
.cont-bot button:hover{
  background-color: #283044;
}

.container-menu-sala .container-backlog .backlog-colum{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30vw;
  height: calc(100vh - 100px);
  background: var(--bg-white);
  border-radius: 10px;
  margin: 0 10px;
  padding: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}
.container-menu-sala .container-backlog .backlog-colum h2{
  font-family: var(--font-primary);
  font-size: var(--size-title);
  color: var(--text-color-blac);
  margin: 10px 0px;
  padding: 0px;
}
.container-menu-sala .container-backlog .backlog-colum .task{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 90%;
  height: 120px;
  border: 1px solid var(--bg-blue);
  border-radius: 30px;
  margin: 10px 0;
  padding: 20px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}
.container-menu-sala .container-backlog .backlog-colum .task .tittle-task{
  font-family: var(--font-primary);
  font-size: var(--size-title);
  color: var(--text-color-blac);
  margin: 0px;
  padding: 0px;
}
.container-menu-sala .container-backlog .backlog-colum .task .description-task{
  font-family: var(--font-primary);
  font-size: var(--size-body);
  color: var(--text-color-blac);
  margin: 0px;
  padding: 0px;
  text-align: justify;
}
.container-menu-sala .container-backlog .backlog-colum .task .description-task span{
  font-size: 12px;
}
.container-menu-sala .container-backlog .backlog-colum .task .container-status-task{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.container-menu-sala .container-backlog .backlog-colum .task .container-status-task p{
  font-family: var(--font-primary);
  font-size: var(--size-body);
  color: var(--text-color-blac);
  margin: 0px;
  margin-top: 5px;
  padding: 0px;
}
.container-menu-sala .container-backlog .backlog-colum .task .container-status-task p .status-task-pending,
.container-menu-sala .container-backlog .backlog-colum .task .container-status-task p .status-task-process,
.container-menu-sala .container-backlog .backlog-colum .task .container-status-task p .status-task-done{
  border-radius: 30px;
  padding: 5px 10px;
  border: 1px solid var(--bg-blue);
  margin-left: 10px;
}

.container-menu-sala .container-backlog .backlog-colum .task .container-status-task p .status-task-pending{
  background: var(--bg-blue);
  color: var(--bg-white);
}
.container-menu-sala .container-backlog .backlog-colum .task .container-status-task p .status-task-process{
  background: var(--bg-light-blue);
  color: var(--bg-blue);
}
.container-menu-sala .container-backlog .backlog-colum .task .container-status-task p .status-task-done{
  background: var(--bg-utp);
  color: var(--bg-blue);
}


.container-menu-sala .cont-bot button{
  border-radius: 10px;
}

.prueba{
  z-index: 9999;
}
.modal-task{
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.4); /* Fondo oscuro semi-transparente */
}

.modal-content-task{
  background-color: var(--bg-utp);
  border-radius: 30px;
  margin: 15% auto; /* Centra el modal verticalmente y lo separa del borde superior */
  padding: 20px;
  width: 30%; /* Ancho del modal */
  height: 400px;
}

.modal-content-task h2{
  font-family: var(--font-primary);
  font-size: var(--size-title);
  color: var(--text-color-blac);
  margin: 0px;
  padding: 0px;
}
.modal-content-task p{
  font-family: var(--font-primary);
  font-size: var(--size-body);
  color: var(--text-color-blac);
}
.modal-content-task .description-content{
  font-family: var(--font-primary);
  font-size: var(--size-body);
  color: var(--text-color-blac);
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 200px;
  border: 1px solid var(--bg-blue);
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.userdata{
  margin-top:20px;
  display:flex;
  background-color: #FFFFFF;
  align-items: center;
  border-radius: 10px;
}

.foto-perfil{
  padding: 10px;
  

}
.cont-nombre{
  display: flex;

  padding: 10px 10px 10px 10px;
 
}
.chat{
  display: flex;
  flex-direction: column;
  margin-top:10px;
  height: 70vh ;
  border-radius: 5px;
  background-color: #e1e5eb;
  overflow-y: auto;
}

.chat-datos{
  display:flex;
  width: 310px;
  height: auto;
}
.chat-datos-b{
  display: flex;
  width: 310px;
  height: auto;
}
.chat-datos-b .cc-perfil{visibility: hidden;}

.chat-datos-b .mensaje{background-color: #b7e4ff;}

.cc-mensaje{
  display: flex;
  flex-direction:column ;
  flex-grow: 1;
}

.nombre{
  margin-top: 10px;
  font-size: 11px;
  font-weight: bold;
}
.mensaje{
  background-color: #FFFFFF;
  
  font-size: 12px;
  padding: 10px;
  border-radius: 6px;
}
.cuenta-mensaje{
  display:flex;
  width: 300px;
  height: 30px;

}

.cont-envio{
  display: flex;
  background-color: #FFFFFF;
  justify-content: space-between;
  height: 90px;
  border-radius: 6px;

}
.cont-input {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cont-boton-env{
  display: flex;
  justify-content: center;
  align-items: center;
}
.cont-input input{
  
  width: 280px;
  height: 35px;
  border-radius: 6px;
}
.cont-input input[type="file"]{
  display: none;

}

.cont-boton-env button{ 
  background-color: #0661fc;
  border-radius: 6px;
  height: 35px;
  width: 80px;
  color:#FFFFFF;
}

.cont-boton-env button:hover{
  background-color: #283044;
}


/*formulario de creacion de tarea*/

.modal-crear{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.4); /* Fondo oscuro semi-transparente */
}

.modal-content-crear{
  background-color: white;
  margin: 15% auto; /* Centra el modal verticalmente y lo separa del borde superior */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Ancho del modal */
}

